/* *{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(158, 28, 28);
}
h1{
    color: yellows;
} */

.table-cell {
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 50px;
    font-weight: bold;
    /* padding: 3px; */
    margin: 3px;
    font-size: 10px;
  }

  .footer {
    /* width: auto; */
    height: 33px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    padding: auto;
  }

  td {
    font-size: 10px;
    font-weight: 500;
  }

  span {
    font-weight: bold;
  }